.calculadora {
    width: 250px;
}

.operandosContainer {
    border: 1px solid black;
    height: 20px;
    width: 95%;
    margin: auto;
}

.numerosContainer {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.botoesContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 10px;
}

.botao {
    background-color: gold;
}